extends ../layout

block content
    div(ng-controller="GenerateMeetingsController")
        p This is genmeetings!
        form(ng-submit="generateMeetings()")
            p Topic:
            input(type="text", ng-model="topic")
            p
                button(type="submit") Generate meetings
        p {{processText}}
